<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Login - TaskCrowd</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!----------------------------------FontAwesome--------------------------------------------------------->

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
        <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

        <!---------------------------------------------------------------------------------------->


        <link rel="stylesheet" href="/static/css/index.css">


    </head>
    <body class="login-body" data-message="{{ message | default('') }}">

    <!-- particles.js container --> 
    <div id="particles-js"></div>
      
  
        <header class="main-header" id="up">
            <div class="header-container">
              <div  class="left-section">
                <a href="javascript:void(0);" onclick="openSidebar()"><i class="fa-solid fa-bars fa-xl" style="color: #f7f7f7;"></i></a>
                <img src="/static/images/logo.jpg" alt="TaskCrowd Logo" class="logo">
                <a href="#" class="brand-name">TaskCrowd</a>
              </div>
                <div class="right-section">
                
                  <button class="btn btn-alt"><a href="register.html">Register</a></button>
              </div>
            </div>
            
        </header>
        
        <!-- Sidebar -->
        <div id="sidebar" class="sidebar">
            <a href="javascript:void(0)" class="close-btn" onclick="closeSidebar()">☰</a>
            <a href="index.html"><i class="fa-solid fa-house"></i> Home</a>
            <a href="about.html"><i class="fa-solid fa-circle-info"></i> About Us</a>
            <a href="contact.html"><i class="fa-solid fa-phone"></i> Contact Us</a>
            <a href="login.html"><i class="fa-solid fa-right-to-bracket"></i> Login</a>
            <a href="register.html"><i class="fa-solid fa-address-card"></i> Register</a>
        </div>

            <!---------------------------------------------LOGIN FORM--------------------------------------------------->

            <div class="container">
            
            <div class="btns">
            <button class="open-btn" onclick="openForm('form11')">Business</button>
            <button class="open-btn1" onclick="openForm('form22')">Freelancer</button>
            
            </div>
        
            <div id="form11" class="form-popup">
                <form action="/login" method="post" class="form-container">
                <h1>Business Login</h1>

                
                <input type="text" placeholder="Enter Email" name="email" required>
            
                <input type="password" placeholder="Enter Password" name="password" required>
            
                <button type="submit" class="btn">Login</button> 

                <label>
                  <input type="checkbox" checked="checked" class="check">     <pre> Remember me</pre>
                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                
                   <a href="/forgot-password.html" class="forgot">ForgotPassword?</a>  
                </label>
                  <hr>

                  <div class="social-media">

                    <div id="g_id_onload"
                    data-client_id="214889972007-ho958972b5o6mngratfret3mh7dmnfpv.apps.googleusercontent.com"
                    data-callback="handleBusinessGoogleSignIn">
                  </div>

                  <div class="g_id_signin" data-type="standard"></div>

                  </div>
                 
                  <br>
                  
                  <div class="or">
                    <p>or</p>
                    <pre>Don't have an account? <a href="register.html">Sign up</a></pre>
                    </div>

                </form>
            </div>
        
            <div id="form22" class="form-popup">
                <form action="/login" method="post" class="form-container">
                <h1>Freelancer Login</h1>

              
                <input type="text" placeholder="Enter Email" name="email" required>
            
                <input type="password" placeholder="Enter Password" name="password" required>
            
                <button type="submit" class="btn">Login</button>

                <label>
                  <input type="checkbox" checked="checked" class="check">     <pre> Remember me</pre>
                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                
                   <a href="/forgot-password.html" class="forgot">ForgotPassword?</a>  
                </label>

                  <hr>

                  <div class="social-media">

                    <div id="g_id_onload"
                      data-client_id="214889972007-ho958972b5o6mngratfret3mh7dmnfpv.apps.googleusercontent.com"
                      data-callback="handleFreelancerGoogleSignIn">
                    </div>

                    <div class="g_id_signin" data-type="standard"></div>

                  </div>
                  <br>
                  <div class="or">
                    <p>or</p>
                    <pre>Don't have an account? <a href="#">Sign up</a></pre>
                    </div>

                </form>
            </div>

           

        </div>

        
      
            <!---------------------------------------------SCRIPTS--------------------------------------------------->
        
            <!--------------------------Google API--------------------------------->

       <script src="https://accounts.google.com/gsi/client"></script>

       <!--------------------------------------------------------------------->
      
     
        <script src="/static/js/index.js" defer></script>
           



            
    </body>
</html>