<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!----------------------------------FontAwesome--------------------------------------------------------->

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
        <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

        <!---------------------------------------------------------------------------------------->


        <link rel="stylesheet" href="/static/css/index.css">


    </head>
    <body class="login-body">
      <div id="fb-root"></div>
        <header class="main-header" id="up">
            <div class="header-container">
              <div  class="left-section">
                <a href="javascript:void(0);" onclick="openSidebar()"><i class="fa-solid fa-bars fa-xl" style="color: #f7f7f7;"></i></a>
                <img src="your-logo.png" alt="TaskCrowd Logo" class="logo">
                <a href="#" class="brand-name">TaskCrowd</a>
              </div>
                <div class="right-section">
                  <button class="btn"><a href="login.html">Login</a></button>
                  <button class="btn btn-alt"><a href="register.html">Register</a></button>
              </div>
            </div>
            
        </header>
        
        <!-- Sidebar -->
        <div id="sidebar" class="sidebar">
            <a href="javascript:void(0)" class="close-btn" onclick="closeSidebar()">☰</a>
            <a href="index.html"><i class="fa-solid fa-house"></i> Home</a>
            <a href="about.html"><i class="fa-solid fa-circle-info"></i> About Us</a>
            <a href="contact.html"><i class="fa-solid fa-phone"></i> Contact Us</a>
            <a href="login.html"><i class="fa-solid fa-right-to-bracket"></i> Login</a>
            <a href="register.html"><i class="fa-solid fa-address-card"></i> Register</a>
        </div>

            <!---------------------------------------------LOGIN FORM--------------------------------------------------->

            <div class="container">
            
            <div class="btns">
            <button class="open-btn" onclick="openForm('form11')">Business</button>
            <button class="open-btn" onclick="openForm('form22')">Freelancer</button>
            <button class="open-btn" onclick="openForm('form33')">Admin</button>
            </div>
        
            <div id="form11" class="form-popup">
                <form action="/login" method="post" class="form-container">
                <h1>Business Login</h1>

                
                <input type="text" placeholder="Enter Email" name="username" required>
            
                <input type="password" placeholder="Enter Password" name="password" required>
            
                <button type="submit" class="btn">Login</button> 

                <label>
                    <input type="checkbox" checked="checked" class="check">     <pre> Remember me</pre>
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;
                     <a href="#" class="forgot">Forgot Password?</a>
                  </label>

                  <hr>

                  <div class="social-media">

                    <div id="g_id_onload"
                    data-client_id="214889972007-ho958972b5o6mngratfret3mh7dmnfpv.apps.googleusercontent.com"
                    data-callback="handleBusinessGoogleSignIn">
                  </div>

                  <div class="g_id_signin" data-type="standard"></div>

                  </div>
                  <div class="social-media">
                    <button class="fb-material-button">
                      <div class="fb-material-button-state"></div>
                      <div class="fb-material-button-content-wrapper">
                        <div class="fb-material-button-icon">
                          <!-- Facebook SVG Icon -->
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" style="display: block;">
                            <path fill="#1877F2" d="M32 16.1C32 7.2 24.8 0 16 0S0 7.2 0 16.1c0 8 5.9 14.6 13.6 15.8V20.6h-4.1v-4.5h4.1v-3.5c0-4 2.4-6.2 6-6.2 1.7 0 3.5.3 3.5.3v3.9h-2c-2 0-2.6 1.2-2.6 2.5v3h4.5l-.7 4.5H18.5v11.2C26.1 30.7 32 24.1 32 16.1z"/>
                          </svg>
                        </div>
                        <span class="fb-material-button-contents">Sign in with Facebook</span>
                        <span style="display: none;">Sign in with Facebook</span>
                      </div>
                    </button>
                  </div>

                  <div class="or">
                    <p>or</p>
                    <pre>Don't have an account? <a href="register.html">Sign up</a></pre>
                    </div>

                </form>
            </div>
        
            <div id="form22" class="form-popup">
                <form action="/login" method="post" class="form-container">
                <h1>Freelancer Login</h1>

              
                <input type="text" placeholder="Enter Email" name="username" required>
            
                <input type="password" placeholder="Enter Password" name="password" required>
            
                <button type="submit" class="btn">Login</button>

                <label>
                    <input type="checkbox" checked="checked" class="check">     <pre> Remember me</pre>
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;
                     <a href="#" class="forgot">Forgot Password?</a>
                  </label>

                  <hr>

                  <div class="social-media">

                    <div id="g_id_onload"
                      data-client_id="214889972007-ho958972b5o6mngratfret3mh7dmnfpv.apps.googleusercontent.com"
                      data-callback="handleFreelancerGoogleSignIn">
                    </div>

                    <div class="g_id_signin" data-type="standard"></div>

                  </div>
                  <div class="social-media">
                    <button class="fb-material-button">
                      <div class="fb-material-button-state"></div>
                      <div class="fb-material-button-content-wrapper">
                        <div class="fb-material-button-icon">
                          <!-- Facebook SVG Icon -->
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" style="display: block;">
                            <path fill="#1877F2" d="M32 16.1C32 7.2 24.8 0 16 0S0 7.2 0 16.1c0 8 5.9 14.6 13.6 15.8V20.6h-4.1v-4.5h4.1v-3.5c0-4 2.4-6.2 6-6.2 1.7 0 3.5.3 3.5.3v3.9h-2c-2 0-2.6 1.2-2.6 2.5v3h4.5l-.7 4.5H18.5v11.2C26.1 30.7 32 24.1 32 16.1z"/>
                          </svg>
                        </div>
                        <span class="fb-material-button-contents">Sign in with Facebook</span>
                        <span style="display: none;">Sign in with Facebook</span>
                      </div>
                    </button>
                  </div>
                  <div class="or">
                    <p>or</p>
                    <pre>Don't have an account? <a href="#">Sign up</a></pre>
                    </div>

                </form>
            </div>

            <div id="form33" class="form-popup">
                <form action="/action_page.php" class="form-container">
                <h1>Admin Login</h1>

                <input type="text" placeholder="Enter Email" name="email" required>
             
                <input type="password" placeholder="Enter Password" name="psw" required>
            
                <button type="submit" class="btn">Login</button>

                <label>
                    <input type="checkbox" checked="checked" class="check">
                    <pre> Remember me</pre>
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                     <a href="#" class="forgot">Forgot Password?</a>
                  </label>

                  <hr>

                  <div class="social-media">

                    <div id="g_id_onload"
                      data-client_id="214889972007-ho958972b5o6mngratfret3mh7dmnfpv.apps.googleusercontent.com"
                      data-callback="handleAdminGoogleSignIn">
                    </div>

                    <div class="g_id_signin" data-type="standard"></div>

                  </div>

                  <div class="social-media">
                    <button class="fb-material-button">
                      <div class="fb-material-button-state"></div>
                      <div class="fb-material-button-content-wrapper">
                        <div class="fb-material-button-icon">
                          <!-- Facebook SVG Icon -->
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" style="display: block;">
                            <path fill="#1877F2" d="M32 16.1C32 7.2 24.8 0 16 0S0 7.2 0 16.1c0 8 5.9 14.6 13.6 15.8V20.6h-4.1v-4.5h4.1v-3.5c0-4 2.4-6.2 6-6.2 1.7 0 3.5.3 3.5.3v3.9h-2c-2 0-2.6 1.2-2.6 2.5v3h4.5l-.7 4.5H18.5v11.2C26.1 30.7 32 24.1 32 16.1z"/>
                          </svg>
                        </div>
                        <span class="fb-material-button-contents">Sign in with Facebook</span>
                        <span style="display: none;">Sign in with Facebook</span>
                      </div>
                    </button>

                    

                    


                  </div>
                  

                  <div class="or">
                    <p>or</p>
                    <pre>Don't have an account? <a href="#">Sign up</a></pre>
                    </div>
                

                    
                    

                </form>
                {% if message %}
                <div class="error">{{ message }}</div>
                {% endif %}
            </div>

        </div>

        

            <!---------------------------------------------SCRIPTS--------------------------------------------------->
        
            <!--------------------------Google API--------------------------------->
       <script src="https://accounts.google.com/gsi/client"></script>

       <!--------------------------------------------------------------------->
      
        
            <script src="/static/js/index.js" defer></script>

    </body>
</html>        